body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0;
  background: #a4c3b2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

.active {
  background-color: #d07058;
}

.selected {
  background-color: white;
}

.menu_sub .active a {
  padding-bottom: 0;
}

.menu_sub .active a, .main_menu .active a {
  text-decoration: none;
  color: white;
}

.menu_sub .active {
  border-radius: 0;
}

 .menu_sub .active a:hover, .main_menu .active:hover{
  background-color: #d07058;
}

.btn {
  box-shadow: 0 3px 3px -1px  #a23324;
}

.btn:active {
  box-shadow: inset 0 3px 3px -1px  #a23324;
}

.btn:hover {
  background: #f48568;
}

.main_container {
  width: 900px;
  margin: 0 auto;
  padding: 0 2.3%;
  /*box-sizing: border-box;*/
}

header {
  margin: 0 -20px 280px;
  padding: 10px 20px;
  min-height: 115px;
}

.header_hight {
  min-height: 75px;
}

.logo {
  float: left;
  margin-right: 30px;
}

.main_menu {
  position: relative;
  width: 370px;
  margin: 0 auto;
  float: left;
  font-size: 16px;
  line-height: 18px;
}

.main_menu li {
  position: relative;
  padding: 7px 14px 0;
  margin-top: -5px;
  height: 32px;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 20px;
}

.main_menu_1::before {
  content: "";
  position: absolute;
  display: none;
  width: 100px;
  height: 50px;
}

.main_menu li:nth-of-type(n+1) {
  margin-left: -5px;
}

.main_menu  li:hover {
  text-decoration: none;
  background: #f7f6f3;
  color: black;
}

.main_menu  li:hover a{
  text-decoration: none;
}

.main_menu  li:active {
  box-shadow: inset 0 2px 4px #696969;
}

.menu_sub {
  display: none;
  position: absolute;
  left: -7px;
  top: 40px;
  min-height: 171px;
  width: 142px;
  border-radius: 7px;
  margin: 0;
  padding: 0;
  background-color: white;
  z-index: 10;
}

.main_menu ul > li:hover .menu_sub {
  display: block;
}

.main_menu ul > li:hover::before {
  display: block;
}

.main_menu .menu_sub li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

 .menu_sub li:first-of-type a {
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
}

  .menu_sub li a {
  box-sizing: border-box;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: left;
  display: block;
  color: black;
  min-height: 32px;
  font-size: 14px;
  line-height: 16px;
}

.menu_sub  a:hover {
  background-color: #fbded7;
}

.menu_sub  a:active {
  background-color: #f6b5a5;
}

.main_menu > ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.main_menu  li, .sub_menu  li {
  display: inline-block;
}

.main_menu li,.main_menu a  {
  color: inherit;
}


.main_menu li:last-child {
  margin-right: 0;
}

.right_side {
  float: right;
  width: 270px;
  margin-top: 15px;
}

.search_box_hover {
  display: none;
  position: absolute;
  top:  37px;
  right: 0;
  min-width: 20px;
  min-height: 10px;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 7px;
}

.search_btn::before {
  content: "";
  position: absolute;
  width: 35px;
  display: none;
  height: 50px;
}

.hidden_search {
  height: 44px;
  width: 310px;
  border-radius: 7px;
  padding-left: 15px;
}

.right_side .search_btn {
  width: 32px;
  background: rgba(157,177,165, 0.2) url("../img/Lupa.png") no-repeat center center;
  border-radius: 50%;
  box-shadow: none;
  border: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.search_btn:hover {
  background: #f8f7f4 url("../img/BlackLupa.png") no-repeat center center;
}

.search_btn:hover + .search_box_hover{
  display: block;
}

.search_btn:hover::before {
  display: block;
}

.search_box_hover:hover {
  display: block;
}

.search_box {
  margin:0;
  display: inline-block;
  position: relative;
}

.right_side a{
  text-decoration: none;
  color: inherit;
  float: right;
  display: inline-block;
  height: 32px;
  box-sizing: border-box;
  padding: 5px 35px 5px 15px;
  vertical-align: top;
  background: rgba(157,177,165, 0.2);
  border-radius: 20px;
}

.right_side .enter {
  padding-right: 15px;
  margin-right: 10px;
  position: relative;
  padding-left: 45px;
}

.right_side .enter::before {
  position: absolute;
  content:"";
  top: 5px;
  left: 18px;
  width: 20px;
  height: 20px;
  background: url("../img/Enter.png") no-repeat center center;
}

.enter::after {
  content: "";
  position: absolute;
  width: 95px;
  display: none;
  height: 50px;
  left: 10px;
}

.hidden_enter_form {
  display: none;
  position: absolute;
  height: 215px;
  width: 277px;
  background-color: #f7f6f3;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.hidden_enter_form input {
  height: 44px;
  width: 240px;
  box-sizing: border-box;
  padding-left: 15px;
  border-radius: 7px;
  border: 1px solid #999999;
}

.hidden_enter_form .mail_box::before {
  display: none;
  top: -14px;
  position: absolute;
  content: "Электронная почта";
  margin-left: 16px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  position: absolute;
}

.mail_box {
  position: relative;
}

.password_box {
  position:relative;
  padding-top: 20px;
  margin-bottom: 20px;
}

.hidden_enter_form .password_box::before {
  display: none;
  top: 5px;
  position: absolute;
  content: "Пароль";
  margin-left: 16px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.hidden_enter_form input:hover {
  border: 2px solid #c7c6c5;
}

.hidden_enter_form input:focus {
  border: 2px solid #8fbdec;
  border-radius: 7px;
  outline: none;
}

.hidden_enter_form input:focus .password_box::before, .hidden_enter_form input:focus .mail_box::before {
  /*review ---почему не появляется при нажатии?*/
  display: inline;
}

.hidden_enter_form button {
  border-radius: 35px;
  color: white;
  font-weight: bold;
  border: 0;
  padding: 7px 25px;
  height: 45px;
  width: 102px;
  background-color: #ed5b3d;
}

.hidden_enter_form a {
  color: black;
  display: inline;
  text-decoration: underline;
  border-radius: 0;
  background-color: #f7f6f3;
  float: none;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}

.hidden_enter_form:hover {
  display: block;
}

.enter_a_box {
  width: 120px;
  height: 40px;
  float: right;
  margin-top: 5px;
}

.enter:hover + .hidden_enter_form {
  display: block;
}

.enter:hover::after {
  display: block;
}

.enter:hover {
  background:#f7f6f3;
  color: black;
  }

.right_side .enter:hover::before {
  background: url("../img/enter_black.png") no-repeat center center;
}

.header_low {
  min-height: 37px;
  margin-top: -20px;
}
header p {
  float: right;
  width: 170px;
  text-align: right;
  font-size: 22px;
  line-height: 24px;
  margin:0;
}

header p span{
  font-size: 14px;
  line-height: 16px;
}

.with_ice-cream {
  position: relative;
  margin: 0 auto;
}

.with_ice-cream::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 900px;
  /*border-radius: 60%;*/
  top: -427px;
  left: 0;
  z-index: -1;
  background: url("../img/light.png") center center;
}

.with_ice-cream img {
  position: absolute;
  top: -320px;
  left: 13%;
  z-index: -1;
}
.index  {
  width: 670px;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto 40px;
  text-align: center;
}

.b_give_me_two {
  display: block;
  width: 285px;
  background-color: #ed5b3d;
  min-height: 65px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  padding: 7px 25px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-size: 32px;
  line-height: 44px;
}

.background_slider {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}

.background_slider li {
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  box-sizing: border-box;
}

.background_slider li:hover {
  background: #b2c1b7;
}

.background_slider .selected:hover {
  background: white;
}

.container {
  clear: both;
  margin-bottom: 40px;
}

.banner {
  width: 48.85%;
  border-radius: 15px;
  min-height: 230px;
  margin-bottom: 25px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 25px;
  line-height: 31px;
  padding-bottom: 0;
  float: left;
}

.banner_left{
  margin-right: 2.2%;
}

.banner h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.banner p {
  font-size: 18px;
  line-height: 22px;
}


.btn_banner {
  display: inline-block;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  position: relative;
  padding: 10px 25px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  left: 200px;
  height: 45px;
  border-radius: 35px;
}

.banner_box_top > article:first-child {
  float: left;
  background-image: url("../img/raspberry.png") ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: blue;

}

.banner_box_top > article:nth-child(2){
  background: url("../img/chocolate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: blue;
}

.item_card article {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 200px;
  min-height: 135px;
  margin-right: 2.2%;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
}

.item_card {
  margin-bottom: 40px;
  /*position: relative;*/
}

.item_card article::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white url("../img/hit.png") no-repeat;
  top: 0;
  left: 0;
}

.item_card article:last-child {
  margin-right: 0;
}

.item_card  p{
  margin-top: 0;
  text-decoration: underline;
  font-weight: normal;
}

.item_card span  {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 135px;
  left: 0;
  font-weight: bold;
}

.item_card span p {
  display: inline;
  font-size: 35px;
  text-decoration: none;
}

.card_hover {
  display: none;
  position: absolute;
  min-height: 362px;
  width: 220px;
  background-color: rgba(255,255,255, 0.3);
  left: -10px;
  top: -10px;
  z-index: 1;
  box-shadow: 0 6px 10px 5px #7f968a;
}

.card_hover a {
  position: absolute;
  display: block;
  border-radius: 20px;
  width: 200px;
  height: 45px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 11px 0 2px;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;
  bottom: 20px;
  left: 11px;
  z-index: 2;
}

.item_card article:hover .card_hover{
  display: block;
}

.item_card:hover .card_upper_hover{
  position: relative;
  z-index: 5;
}

.item_card article:hover .card_upper_hover p {
  text-decoration: none;
}

.item_card:hover article::before {
  z-index: 6;
}

.advantages {
  font-weight: normal;
  min-height: 353px;
  width: 820px;
  padding: 20px 27px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: url("../img/wafle.png") no-repeat ;
  color: black;
}

.advantages h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 7px 0;
  text-decoration: none;
  font-weight: bold;
}
.advantages div {
  position: relative;
  width: 345px;
  min-height: 115px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 55px;
  margin-bottom: 25px;
}

.advantages div img {
  position: absolute;
  left: -60px;
}


.container .advantage_1 {
  float: left;
  margin-bottom: 0;
}

.container .advantage_2 {
  float: right;
  margin-bottom: 7px;
}

.advantage_3 {
  margin: -15px 0 0 0;
  float: left;
}

.advantage_4 {
  float: right;
}

.ten_ways {
  background: #f8f7f4 url("../img/banner_d_l.jpg") ;
  color: #5a5a5a;
}

.ten_ways h4 {
  font-size: 16px;
  line-height: 22px;
}

.ten_ways p {
  font-size: 24px;
  line-height: 30px;
}

.delivery {
  float: left;
  padding: 25px;
  background: url("../img/banner_d_r.png") #f8f7f4;
  color: #8e8e8d;
}

.delivery p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.delivery input {
  width: 228px;
  min-height: 42px;
  border-radius: 4px;
}

.delivery .btn_last {
  width: 129px;
  padding-left: 10px;
  border: none;
  left: 10px;
  color: white;
  border-radius: 20px;
  background-color: #ea5139;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.btn_last:hover {
  background-color: #f48568;
  outline: none;
}

.connect_us {
  position: absolute;
  color: black;
  top: 57px;
  right: 0;
  width: 300px;
  min-height: 300px;
  background-color: #fdfefe;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-right: 2.3%;
}

.connect_us a{
  display: inline-block;
  padding: 7px 25px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;
}
.connect_us h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 0;
}

.connect_us .address{
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.map {
  width: 900px;
  /*margin: 0 -20px;*/
}
.map_block {
  position: relative;
}

.text_conteiner {
  width:227px;
}

.heeden_feedback {
  display:none;
  width: 477px;
  height: 442px;
  background-color: #f8f7f4;
  border-radius: 7px;
  padding: 18px 25px;
  box-sizing: border-box;
}

.heeden_feedback h3 {
  color: black;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 23px;
}

.heeden_feedback input {
  width: 268px;
  height: 44px;
  border-radius: 7px;
  margin-bottom: 20px;
  padding-left: 14px;
  box-sizing: border-box;
  outline: none;
}

.heeden_feedback textarea {
  padding: 13px 14px;
  border-radius: 7px;
  width: 429px;
  height: 155px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.heeden_feedback .btn {
  display: block;
  width: 140px;
  background-color: #ed5b3d;
  min-height: 45px;
  margin-left: 291px;
  margin-bottom: 25px;
  margin-top: -5px;
  border-radius: 20px;
  text-align: center;
  vertical-align: bottom;
  padding: 7px 23px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border: 0;
  outline: none;
}

.your_name {
  position: relative;
}

.your_name::before {
  display: none;
  position: absolute;
  top: -14px;
  position: absolute;
  content: "Как вас зовут?";
  margin-left: 16px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.your_mail {
  position:relative;
  padding-top: 20px;
  margin-bottom: 20px;
}

.your_mail::before {
  display: none;
  position: absolute;
  top: 0;
  position: absolute;
  content: "Ваша почта для ответа?";
  margin-left: 16px;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.your_mail input:focus .your_mail::before{
  display: block;
}
/*review ----------------------------------почему не появляются при нажатии на область?*/
.your_name input:focus .your_name::before{
  display: block;
}

.feedback_btn:hover  .heeden_feedback{
  display: block;
}

footer {
  margin: 0 auto;
  padding: 20px;
  min-width: 860px;
  max-width: 1160px;
  min-height: 100px;
  padding-bottom: 0 ;
}

.social {
  width: 200px;
  margin-right:20px;
  float: left;
  min-height: 32px;
  margin-left: -20px;
}

.social a {
  display: inline-block;
  border: 4px solid #c2cec7;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
  margin-right: 10px;
  opacity: 0.8;
}

.social a:last-of-type {
  margin-right: 0;
}

.social a:hover {
 opacity: 1;
}

.social a::before {
  content: "";
  display: block;
  width:35px;
  height:35px;
}

.vk {
  background: #c2cec7;
}

.vk::before {
  content: "";
  display: block;
  background:  url("../img/ВК.png") no-repeat;
}

.fb {
  background:  url("../img/ФБ.png") no-repeat;
}

.inst {
  background:  url("../img/Инста.png") no-repeat;
}

.tw {
  background:  url("../img/Твитер.png") no-repeat;
}

.center_footer {
  position: relative;
  max-width: 306px;
  min-height: 40px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 18px;
}

.center_footer a {
  color: white;
  font-weight: normal ;
}

.center_footer a:nth-of-type(2n-1){
  margin-right: 29px;
}

.center_footer a:nth-of-type(3){
  margin-right: 33px;
}

.center_footer a:first-of-type {
  font-weight: bold;
}

.center_footer img {
  position: absolute;
  left: -23px;
}

.manufacturer {
  min-height: 60px;
  width: 200px;
  float: right;
  margin-top: -10px;
  font-weight: normal;
}

.manufacturer p {
  font-size: 12px;
  line-height: 18px;
}

.manufacturer a {
  color: inherit;
}
/*------------------------------------------------------------------------------------------------------------------*/

 .catalog {
  margin-bottom: 0;
}

.header_low .sub_menu {
  position: relative;
  top: 35px;
  left: -35px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.sub_menu {
  font-weight: normal;
}

.sub_menu li {
  /*wdith: 70px;*/
  box-sizing: border-box;
  margin-right: 8px;
}

.sub_menu a {
  color: inherit;
}

.sub_menu li:last-child {
  text-decoration: none;
}

.catalog_h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog_sub {
  display: none;
}

.filter {
  height: 133px;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 39px;
  background-color: rgba(0,200,0,0.3);
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.top_filter {
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgba(0,200,200,0.3);
}

.sort {
  width: 195px;
  height: 56px;
  background-color: rgba(0,200,200,0.4);
  float: left;
  margin-right: 14px;
}

.sort label {
  margin-left: 17px;
  margin-bottom: 7px;
}

.sort select {
  width: 100%;
  height: 36px;
  background-color: #a9b9af;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-left: 15px;
  box-sizing: border-box;
}

.price {
  float: left;
  width: 220px;
  height: 56px;
  background-color: rgba(0,200,200,0.4);
  margin-right: 10px;
  box-sizing: border-box;
}

.price span {
  margin-left: 16px;
  margin-bottom: 7px;
  color: white;
}

.price_range {
  box-sizing: border-box;
  width: 220px;
  height: 36px;
  background-color: #a9b9af;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-left: 15px;
}

.fat_choose {
  width: 420px;
  height: 56px;
  background-color: rgba(0,200,200,0.4);
  float: right;
}

.for_fat_choose {
  margin-left: 15px;
}

.fat_radio_box {
  widht: 418px;
  height: 36px;
  background-color: #a9b9af;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-left: 15px;
  box-sizing: border-box;
  padding-top: 7px;
}

.inner {
  width: 702px;
  height: 36px;
  background-color: #a9b9af;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-left: 15px;
  box-sizing: border-box;
  padding-top: 7px;
}

.choose_item article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.2%;
  margin-left: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  width: 200px;
  min-height: 135px;
  z-index: 0;
}

.choose_item article:hover {
  z-index: 2;
}

.choose_item article:nth-of-type(4n) {
  margin-right: 0;
}

.page_nav ul {
  float: right;
}

.page_nav li {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
}

.page_nav li:nth-of-type(2) {
  background: white;
  color: black;

}

.page_nav li:hover {
  background: rgba(255,255,255, 0.3);
}

.page_nav li:nth-of-type(2):hover {
  background: white;
}

.page_nav li:nth-of-type(1) {
  color: #9db1a5;
}

.page_nav li:nth-of-type(1):hover {
  background: none;
}
.page_nav a {
  color: inherit;
  text-decoration: none;
}

.catalog_main {
  border-bottom: 1px solid #c2cec7;
}
