body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0;
  background: #a4c3b2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

.main_container {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
  /*background-color: rgba(0,0,255, 0.1);*/
}

header {
  margin: 0 -20px 280px;
  padding: 10px 20px;
  min-height: 115px;
  /*background-color: rgba(0,0,255, 0.3);*/
}

.logo {
  /*clear: both;*/
  float: left;
  margin-right: 30px;
}

.main_menu {
  width: 350px;
  margin: 0 auto;
  float: left;
  font-size: 16px;
  line-height: 18px;
}


.main_menu ul {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  /*background-color: rgba(0,0,255, 0.4);*/
}

.main_menu li, .sub_menu li {
  display: inline-block;
  margin-right: 27px;
  text-decoration: underline;
  vertical-align: top;
}

.main-menu li  {
  color: inherit;
  /*    ---------------------------------------------   почему белый цвет текста не наследуется?*/
}

.main_menu li:last-child {
  margin-right: 0;
}

.right_side {
  float: right;
  width: 270px;
  margin-top: 15px;
}

.right_side a{
  /*-------------------------------------------------------------как прижать эти кнопки вправо ?   */
  display: inline-block;
  height: 32px;
  background: rgba(157,177,165, 0.2);
  box-sizing: border-box;
  padding: 5px 35px 5px 15px;
  border-radius: 20px;
}

.right_side .enter{
  padding-right: 15px;
}

/*.right_side .basket {
margin-right: -10px;
}*/

.right_side .search {
  width: 32px;
  height: 32px;
  background: url("../img/Лупа.png") no-repeat;
  border-radius: 50%;
  box-shadow: none;
}

header p {
  float: right;
  width: 170px;
  text-align: right;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 0;
}

header p span{
  font-size: 14px;
  line-height: 16px;
}



.with_ice-cream {
  position: relative;
  margin: 0 auto;
}

.with_ice-cream img {
  position: absolute;
  top: -320px;
  left: 13%;
  z-index: -1;
}
.index  {
  width: 670px;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto 40px;
  text-align: center;
}

.b_give_me_two {
  display: block;
  width: 285px;
  background-color: #ed5b3d;
  min-height: 65px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  padding: 7px 25px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-size: 32px;
  line-height: 44px;
}

.background_slider {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}

.background_slider li {
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.catalog h1 {
  color: black;
  font-size: 30px;
  float: left;
}

.catalog_sub {
  display: none;
}


.container {
  clear: both;
  background-color: rgba(0,0,255, 0.3);
  margin-bottom: 40px;
}

.banner {
  width: 420px;
  border-radius: 15px;
  min-height: 230px;
  background-color: rgba(0,255,0, 0.3);
  margin-bottom: 25px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 25px;
  line-height: 31px;
  padding-bottom: 0;
  /*-----------------------------------------------как сделать растягивающиеся паддинги? с 20px на 27px*/
}

.banner h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.banner p {
  font-size: 18px;
  line-height: 22px;
}

.banner .btn {
  display: inline-block;
  position: relative;
  padding: 7px 25px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  left: 200px;
  height: 45px;
  margin-right: 0;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;

}

.container > article:first-child {
  float: left;
  background: white url("../img/raspberry.png") no-repeat;
}

.banner_right {
  float: right;
}

.container > article:nth-child(2){
  background: white url("../img/chocolate.png") no-repeat;
}

.item_card article {
  width: 200px;
  min-height: 135 px;
  /*background-color: rgba(0,200,0, 0.3);*/
  float: left;
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.item_card {
  margin-bottom: 40px;
}

.item_card article::before {
  position:relative;
  diplay: block;
  content: "";
}

.item_card article::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white url("../img/hit.png") no-repeat;
}

.item_card article:last-child {
  margin-right: 0;
}

.item_card  span {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  /*top: 5px;*/
  /*left: -100px;*/
}

.advantages {
  min-height: 353px;
  width: 820px;
  clear: both;
  padding: 20px 27px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: url("../img/wafle.png") no-repeat ;
  color: black;
}

.advantages h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 7px 0;
  text-decoration: none;
  font-weight: normal;
}
.advantages div {
  position: relative;
  width: 345px;
  min-height: 115px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 55px;
  margin-bottom: 25px;
}

.advantages div img {
  position: absolute;
  left: -60px;
}


.advantage_1 {
  float: left;
}

.advantage_2 {
  float: right;
}

.advantage_3 {
  float: left;
}

.advantage_4 {
  float: right;
}

.10_ways {
  width: 20px;
  background: url("../img/banner_d_l.jpg") no-repeat;
}

.map_block {
  position: relative;
}

.connect_us {
  position: absolute;
  color: black;
  top: 60px;
  right: 0;
  width: 300px;
  min-height: 300px;
  background-color: #fdfefe;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 15px;
}

.text_conteiner {
  width:227px;
}

.connect_us a{
  display: inline-block;
  padding: 7px 25px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;
}
.connect_us h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 7px;
}

.connect_us .address{
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.map {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 -20px;
}

footer {
  margin: 0 auto;
  padding: 20px;
  /*background-color: rgba(0,0,255, 0.3);*/
  min-width: 860px;
  max-width: 1160px;
  min-height: 100px;
  padding-bottom: 0 ;
}

.social {
  width: 200px;
  margin-right:20px;
  float: left;
}

.center_footer {
  position: relative;
  max-width: 306px;
  min-height: 40px;
  /*background-color: rgba(0,0,255, 0.4);*/
  margin: 0 auto;
  font-size: 13px;
  line-height: 18px;

}

.center_footer a {
  color: white;
  font-style: bold ;
  /* --------------------------------------------------------как убрать выделение жирным?*/
}

.center_footer a:nth-of-type(2n-1){
  margin-right: 30px;
}
.center_footer img {
  position: absolute;
  left: -23px;
}

.manufacturer {
  min-height: 60px;
  width: 200px;
  float: right;
}

.manufacturer p {
  font-size: 12px;
  line-height: 18px;
}
