body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  margin: 0;
  background: #a4c3b2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

.btn {
  box-shadow: 0 3px 3px -1px  #a23324;
}

.btn:active {
  box-shadow: inset 0 3px 3px -1px  #a23324;
}

.btn:hover {
  /*REVIEW почему это свойство не срабатывает на всех элементах с классом btn?*/
  background: #f07a63;
}

.main_container {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
  /*background-color: rgba(0,0,255, 0.1);*/
}

header {
  margin: 0 -20px 280px;
  padding: 10px 20px;
  min-height: 115px;
  /*background-color: rgba(0,0,255, 0.3);*/
}

.header_hight {
  min-height: 75px;

}

.logo {
  float: left;
  margin-right: 30px;
}

.main_menu {
  position: relative;
  width: 370px;
  margin: 0 auto;
  float: left;
  font-size: 16px;
  line-height: 18px;
}

.main_menu li {
  padding: 5px 14px 0;
  margin-top: -5px;
  height: 32px;
  vertical-align: middle;
  box-sizing: border-box;
}

.main_menu li:nth-of-type(n+1) {
  margin-left: -5px;
}

.main_menu  li:hover {
  border-radius: 20px;
  text-decoration: none;
  background: #f7f6f3;
  color: black;
}

.main_menu  li:hover a{
  text-decoration: none;
}

.menu_sub {
  display: none;
  position: absolute;
  left: -20px;
  min-height: 171px;
  width: 142px;
  border-radius: 7px;
  margin: 0;
  padding: 0;
  background-color: white;
}

.main_menu > li:hover .menu_sub {
  /*review ----------------------------------------------------почему не работает это свойство для выплывающего меню?*/
  display: block;
}

.main_menu .menu_sub li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .menu_sub li:first-of-type {
   /*review ----------------------------------------------------почему этот элемент не выделяется жирным?*/
  font-weight: bold;
}

  .menu_sub li a {
  box-sizing: border-box;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: left;
  display: block;
  color: black;
  width: 140px;
  min-height: 32px;
  font-size: 14px;
  line-height: 16px;
}

.menu_sub  a:hover {
  background-color: #fbded7;
}

.main_menu > ul {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.main_menu  li, .sub_menu  li {
  display: inline-block;
  /*margin-right: 27px;*/
}

.main_menu li,.main_menu a  {
  color: inherit;
}


.main_menu li:last-child {
  margin-right: 0;
}

.right_side {
  float: right;
  width: 270px;
  margin-top: 15px;
  /*background-color: rgba(0,0,255, 0.3);*/
}

.search_box_hover {
  display: none;
  position: absolute;
  top:  37px;
  right: 0;
  min-width: 20px;
  min-height: 10px;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 7px;
}

.hidden_search {
  height: 44px;
  width: 310px;
  border-radius: 7px;
  padding-left: 15px;
}

.right_side a{
  text-decoration: none;
  color: inherit;
  float: right;
  display: inline-block;
  height: 32px;
  box-sizing: border-box;
  padding: 5px 35px 5px 15px;
  vertical-align: top;
  background: rgba(157,177,165, 0.2);
  border-radius: 20px;
}

.right_side .enter {
  padding-right: 15px;
  margin-right: 10px;
}

.hidden_enter_form {
  display: none;
  position: absolute;
  height: 215px;
  width: 277px;
  background-color: #f7f6f3;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.hidden_enter_form input {
  height: 44px;
  width: 240px;
  box-sizing: border-box;
  padding-left: 15px;
  border-radius: 7px;
  border: 1px solid #999999;
  margin-bottom: 20px;
}

.hidden_enter_form button {
  border-radius: 35px;
  color: white;
  font-weight: bold;
  border: 0;
  padding: 7px 25px;
  height: 45px;
  width: 102px;
  background-color: #ed5b3d;
}

.hidden_enter_form a {
  color: black;
  display: inline;
  text-decoration: underline;
  border-radius: 0;
  background-color: #f7f6f3;
  float: none;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
}
.enter_a_box {
  width: 120px;
  height: 40px;
  float: right;
  margin-top: 5px;
}

.enter:hover .hidden_enter_form {
  display: block;
}

.enter:hover {
  background:#f7f6f3;
  color: black;
}

.right_side .search_btn {
  width: 32px;
  background: rgba(157,177,165, 0.2) url("../img/Лупа.png") no-repeat center center;
  border-radius: 50%;
  box-shadow: none;
  border: 0;
  padding: 0;
}

.search_btn:hover {
  background-color: #f8f7f4;
  /*вырезать черную лупу*/
}

.search_btn:hover .search_box_hover{
    /*review ----------------------------------------------------почему не работает это свойство для выплывающего меню?*/
  display: block;
}

.search_box {
  margin:0;
  display: inline-block;
  position: relative;
}

.header_low {
  min-height: 37px;
  margin-top: -20px;
}
header p {
  float: right;
  width: 170px;
  text-align: right;
  font-size: 22px;
  line-height: 24px;
  margin:0;
}

header p span{
  font-size: 14px;
  line-height: 16px;
}

.with_ice-cream {
  position: relative;
  margin: 0 auto;
}

.with_ice-cream img {
  position: absolute;
  top: -320px;
  left: 13%;
  z-index: -1;
}
.index  {
  width: 670px;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto 40px;
  text-align: center;
}

.b_give_me_two {
  display: block;
  width: 285px;
  background-color: #ed5b3d;
  min-height: 65px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  padding: 7px 25px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-size: 32px;
  line-height: 44px;
}

.background_slider {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}

.background_slider li {
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  box-sizing: border-box;
}

.background_slider li:hover {
  background: #b2c1b7;
}

.container {
  clear: both;
  /*background-color: rgba(0,0,255, 0.3);*/
  margin-bottom: 40px;
}

.banner {
  width: 420px;
  border-radius: 15px;
  min-height: 230px;
  /*background-color: rgba(0,255,0, 0.3);*/
  margin-bottom: 25px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 25px;
  line-height: 31px;
  padding-bottom: 0;
  float: left;
}

.banner_left{
  margin-right: 20px;
}

.banner h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.banner p {
  font-size: 18px;
  line-height: 22px;
}

.banner .btn {
  display: inline-block;
  position: relative;
  padding: 7px 25px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  left: 200px;
  height: 45px;
  margin-right: 0;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;

}

.container > article:first-child {
  float: left;
  background: white url("../img/raspberry.png") no-repeat;
}

.container > article:nth-child(2){
  background: white url("../img/chocolate.png") no-repeat;
}

.item_card article {
  width: 200px;
  min-height: 135px;
  float: left;
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.item_card {
  margin-bottom: 40px;
  position:relative;
}

.item_card article::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white url("../img/hit.png") no-repeat;
}

.item_card article:last-child {
  margin-right: 0;
}

.item_card  p{
  margin-top: 0;
  text-decoration: underline;
  font-weight: normal;
}

.item_card span  {
  /*REVIEW почему цена уехала? Притом уехала только в index,  в catalog осталась на месте*/
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 135px;
  left: 0;
  font-weight: bold;
}

.item_card span p {
  display: inline;
  font-size: 35px;
  text-decoration: none;
}

.advantages {
  font-weight: normal;
  min-height: 353px;
  width: 820px;
  padding: 20px 27px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: url("../img/wafle.png") no-repeat ;
  color: black;
}

.advantages h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 7px 0;
  text-decoration: none;
  font-weight: bold;
}
.advantages div {
  position: relative;
  width: 345px;
  min-height: 115px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 55px;
  margin-bottom: 25px;
}

.advantages div img {
  position: absolute;
  left: -60px;
}


.container .advantage_1 {
  float: left;
  margin-bottom: 0;
}

.container .advantage_2 {
  float: right;
  margin-bottom: 7px;
}

.advantage_3 {
  margin: -15px 0 0 0;
  float: left;
}

.advantage_4 {
  float: right;
}

.banner .banner_left .10_ways {
  width: 20px;
  background: white;
}

.map_block {
  position: relative;
}

.connect_us {
  position: absolute;
  color: black;
  top: 60px;
  right: 0;
  width: 300px;
  min-height: 300px;
  background-color: #fdfefe;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 15px;
}

.text_conteiner {
  width:227px;
}

.delivery {
  float: left;
  padding: 25px;
  background:url("../img/banner_back.png") #f8f7f4;

  color: #8e8e8d;
}

.delivery p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.delivery input {
  width: 228px;
  min-height: 42px;
  border-radius: 4px;
}

.delivery .btn_last {
  width: 129px;
  padding-left: 18px;
  border: none;
  left: 10px;
}

.10_ways h4 {
  font-size: 16px;
  line-height: 22px;
}

.10_ways p {
  font-size: 24px;
  line-height: 30px;
}

.connect_us a{
  display: inline-block;
  padding: 7px 25px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 35px;
  text-align: center;
  vertical-align: bottom;
  background-color: #ed5b3d;
  font-size: 18px;
  line-height: 24px;
}
.connect_us h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 7px;
}

.connect_us .address{
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.map {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 -20px;
}

footer {
  margin: 0 auto;
  padding: 20px;
  /*background-color: rgba(0,0,255, 0.3);*/
  min-width: 860px;
  max-width: 1160px;
  min-height: 100px;
  padding-bottom: 0 ;
}

.social {
  width: 200px;
  margin-right:20px;
  float: left;
}

.center_footer {
  position: relative;
  max-width: 306px;
  min-height: 40px;
  /*background-color: rgba(0,0,255, 0.4);*/
  margin: 0 auto;
  font-size: 13px;
  line-height: 18px;

}

.center_footer a {
  color: white;
  font-weight: normal ;
}

.center_footer a:nth-of-type(2n-1){
  margin-right: 30px;
}

.center_footer a:first-of-type {
  font-weight: bold;
}

.center_footer img {
  position: absolute;
  left: -23px;
}

.manufacturer {
  min-height: 60px;
  width: 200px;
  float: right;
  margin-top: -10px;
  font-weight: normal;
}

.manufacturer p {
  font-size: 12px;
  line-height: 18px;
}

.manufacturer a {
  color: inherit;
}
/*------------------------------------------------------------------------------------------------------------------*/

 .catalog {
  margin-bottom: 0;
}

.header_low .sub_menu {
  position: relative;
  top: 35px;
  left: -35px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.sub_menu {
  font-weight: normal;
}

.sub_menu a {
  color: inherit;
}

.sub_menu li:last-child {
  text-decoration: none;
}

.catalog_h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog_sub {
  display: none;
}

.filter {
  font-size: 14px;
  line-height: 16px;
  display: block;
  min-height: 133px;
  margin-bottom: 39px;
}

.choose_item article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-left: 0;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  font-weight: normal;
  text-align: center;
  width: 200px;
  min-height: 135px;
  /*background-color: rgba(0,200,0, 0.3);*/
}

.choose_item article:nth-of-type(4n) {
  margin-right: 0;
}

.page_nav ul {
  float: right;
}

.page_nav li {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
}

.page_nav a {
  color: inherit;
  text-decoration: none;
}
